body
{
  display: block;
  text-align: center;
  margin-top: 100px;

}

h2
{
  font-size: 40px;
  color: rgb(19, 151, 85);
}
li 
{
  margin: 10px;
  list-style: none;
  text-align: center;

}

a.enlace-eliminar
{
  margin-left: 10px;
  text-decoration: none;
}

.tachado
{
  text-decoration: line-through;
}

p
{
font-size: 40px;
color: rgb(5, 35, 122);
}

h3
{
  COLOR: RED;
}